.list-container{
    height: 100%;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    overflow: scroll;
}

.list-container ul{
    padding-left: 0;
}